/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);

    position: sticky;
    top: 0;
    transition: var(--transition);
}

header > .logo > img {
    width: 10rem;
    border-radius: 0.25rem;
    transition: var(--transition);
}

header > .navigation > nav > ul {
    display: flex;
    gap: 1rem;
}

header > .navigation > nav > ul > li, 
header > .active > nav > ul > li {
    list-style-type: none;
}

header > .navigation > nav > ul > li > a,
header > .active > nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: var(--transition);
}

header > .navigation > nav > ul > li > a:hover,
header > .active > nav > ul > li > a:hover {
    color: var(--tertiary-color);
}

header > .hamburger {
    display: none;
    flex-direction: column;
    gap: 0.35rem;
    cursor: pointer;
}

header > .hamburger > div {
    width: 25px;
    height: 2.5px;
    border-radius: 0.25rem;
    background-color: white;
}

header > .active {
    display: block;
    transition: var(--transition);
}

header > .active > nav > ul {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;

    position: absolute;
    right: 0;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    top: 100%;

    padding-bottom: 1rem;
    transition: var(--transition);

    opacity: 0.95;
}

header > .active > nav > ul > li > a {
    font-size: 0.9rem;
}

/* section common */
section {
    width: 100%;
}

.top-section {
    min-height: 35rem;
    position: relative;
    background-image: url("../images/avit.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}

.top-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75); 
}

.overlay > .anniversary {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
}

.overlay > .anniversary > img {
    width: 100%;
}

.overlay {
    position: relative;
    color: white;
    text-align: center;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.overlay > h1 {
    font-size: 2rem;
    transition: var(--transition);  
}

.overlay > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.overlay > div > table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay > div > table > tbody > tr > td:first-child {
    text-align: left;
    padding-right: 1rem;
}

.overlay > div > table > tbody > tr > td:last-child {
    text-align: left;
    font-weight: bold;
    padding-left: 1rem;
}

.marquee {
    background-color: white;
    color: black;
    padding: 0.5rem;
    margin-top: 3rem;
}

.organised-by {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    padding: 5rem 0;
}

.organised-by > h2 {
    font-size: 3rem;
    text-align: center;
    color: white;
    transition: var(--transition);
}

.organised-by > p {
    font-size: 1.25rem;
    transition: var(--transition);
}

.organised-by > .sponser-logos {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.organised-by > .sponser-logos > div {
    background-color: white;
    padding: 0.85rem;
    border-radius: 0.35rem;
}

/* conference members */
.conference-members-section {
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.conference-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.conference-members-group {
    display: flex;
    gap: 1rem;
}

.conference-members > h2 {
    color: white;
    font-size: 1.35rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 2rem;
}

.members-card {
    background-color: var(--secondary-color);
    width: 18rem;
    height: 22.5rem;
    padding: 1.5rem 1rem;
    border-radius: 0.35rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: var(--transition);

    cursor: pointer;
}

.members-card:hover {
    background-color: var(--fifth-color);
}

.conference-member-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15),
                0 20px 40px rgba(0, 0, 0, 0.65),
                0 0 0 5px rgba(0, 0, 0, 0.06);
}

.conference-member-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.members-card .name {
    font-size: 1.1rem;
    font-weight: bolder;
    color: white;
    margin-top: 0.5rem;
}

.members-card .role {
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--forth-color);
}

.members-card .college {
    font-size: 0.85rem;
    color: white;
    line-height: 1.4;
}


/* additional members details */
.additional-members-details-section {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: start;
    padding-top: 2rem;

    height: 70rem;
    overflow-y: scroll;
    overflow-x: scroll;

    padding-bottom: 2rem;

    transition: var(--transition);
}

.additional-members-details-left, 
.additional-members-details-right {
    width: 25rem;
    height: 60rem;

    padding-right: 0.5rem;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--font-color);
    
    transition: var(--transition);
}

.additional-members-details-left::-webkit-scrollbar,
.additional-members-details-right::-webkit-scrollbar {
    width: 6.5px;
}

.additional-members-details-left::-webkit-scrollbar-track,
.additional-members-details-right::-webkit-scrollbar-track {
    background-color: rgba(207, 207, 225, 0.5);
}

.additional-members-details-left::-webkit-scrollbar-thumb,
.additional-members-details-right::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 10px;
    transition: var(--transition);
}

.additional-members-details-left::-webkit-scrollbar-thumb:hover,
.additional-members-details-right::-webkit-scrollbar-thumb:hover {
    background-color: var(--sixth-color);
}

.members-classifier {
    display: flex;
    flex-direction: column;
}

.members-classifier > h2 {
    font-size: 1.2rem;
    color: var(--tertiary-color);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;
}

.members-descriptions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--font-color);
    cursor: pointer;
}

.members-descriptions > .name {
    font-weight: bold;
    color: gray;
}

.members-descriptions > .place {
    color: var(--sixth-color);
    font-weight: bold;
}

.members-descriptions > .college {
    font-weight: bold;
    letter-spacing: 1px;
}

/* Important Dates Section */
.important-dates {
    position: relative;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    z-index: -99;
    overflow-x: scroll;
    overflow-y: scroll;
}

.important-dates > table {
    margin: 1rem auto;
}

.important-dates > h1 {
    color: var(--tertiary-color);
}

.middle-table-data {
    color: skyblue;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
}

.middle-table-data::before {
    content: "";
    position: absolute;
    top: 0;
    left: 47%;
    width: 2px;           
    height: 100%;          
    background-color: white; 
    z-index: 10;        
}

.middle-table-data > i {
    position: relative;
    z-index: 20;  
}

.important-dates > table > tbody > tr > td:first-child  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.important-dates > table > tbody > tr > td:nth-child(2) {
    padding: 1rem;
}

.important-dates > table > tbody > tr > td:last-child  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.important-dates > table > tbody > tr > td > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
    color: var(--font-color);
}

.important-dates > table > tbody > tr > td > div > .deadline-name {
    font-size: 1.25rem;
}

.important-dates > table > tbody > tr > td > div > .deadline-date {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.important-dates > table > tbody > tr > td > div > .deadline-date > i {
    color: skyblue;
}

/* guidelines */
.guideline-button-container {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    background-color: var(--secondary-color);
}

.guideline-button-container > button {
    padding: 0.75rem;
    font-size: 1.1rem;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
    background-color: var(--fifth-color);
    color: var(--font-color);
    border: none;
    border-radius: 0.35rem;
    cursor: pointer;
    transition: all 0.25s;
}

.guideline-button-container > button:hover {
    background-color: var(--sixth-color);
    color: white;
}

/* model */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 0.95rem;
  width: 90%;
  max-width: 700px;
  text-align: left;
  position: relative;
  animation: fadeIn 0.3s ease;
  max-height: 80vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 0.95rem;
  justify-content: space-between;
}

.modal-content > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modal-content > ul > li {
    letter-spacing: 0.25px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
  transition: var(--transition);
}

.close-btn:hover {
    color: orangered;
}

/* fees section */
.fees {
    background-color: var(--primary-color);
    padding: 2rem 0; 
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.fees > h1 {
    color: var(--font-color);
}

.fees > div {
    background-color: whitesmoke;
    border-radius: 0.35rem;
    display: flex;
    flex-direction: column;
}

.fees > div > .author-selector-buttons {
    width: 100%;
    display: flex;
    gap: 0.05rem;
    align-items: center;
}

.fees > div > .author-selector-buttons > button {
    width: 50%;
    background-color: #0066cc;
    padding: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bolder;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.author-selected > p {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.author-selected, .fees-details {
    padding: 1rem;
}

.fees-details > table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border-radius: 12px;
    overflow: auto; 
}

.fees-details > table > thead {
    background: linear-gradient(135deg, #0066cc, #0099ff);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.fees-details > table > thead > tr > td {
    padding: 0.5rem;
}

.fees-details > table > tbody > tr:hover {
    background-color: #e6f4ff;
}

.fees-details > table > tbody > tr {
    transition: all 0.2s ease;
}

.fees-details > table > tbody > tr > td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}


/* conference theme */
.conference-theme {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 2.5rem 0;
    background-color: var(--secondary-color);
}

.conference-theme > h1 {
    color: whitesmoke;
}

.conference-theme > .theme-selector {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.conference-theme > .theme-selector > button {
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--fifth-color);
    color: whitesmoke;
    border-radius: 0.25rem;
    transition: all 0.25s;
}

.conference-theme > .theme-selector > button:hover {
    background-color: var(--sixth-color);
    color: white;
}

.conference-theme > .theme-title {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
}

.conference-theme > .theme-descriptions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.conference-theme > .theme-descriptions > .description {
    border: 1.5px solid var(--fourth-color);
    border-radius: 0.35rem;
    padding-left: 1.5rem;
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    width: 450px;
    height: 9rem;
}

.conference-theme > .theme-descriptions > .description > ul {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* call for paper */
.call-for-paper {
    padding: 3rem 2rem;
    color: var(--font-color);
    background-color: var(--primary-color);
}

.call-for-paper > h1 {
    text-align: center;
}

.call-for-paper-content {
    margin: 2rem auto;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 2rem;
}

.call-for-paper-content > p {
    text-align: justify;
}

.call-for-paper-content > ul {
    padding-left: 2.5rem;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem 0;
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.venue {
    border-radius: 1rem;
    overflow: hidden;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-information {
    display: flex;
    gap: 1rem;
}