:root {
    --primary-color: rgb(25, 25, 35);
    --secondary-color: rgb(230, 165, 65);
    --background-color: rgb(240, 240, 230);
    --tertiary-color: rgb(10, 0, 50);
    --fourth-color: rgb(100, 10, 170);
    --font-color: rgb(10, 0, 60);
    --dull-font-color: rgb(60, 60, 60);
    --shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
}