* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: rgb(23, 23, 34);
    --secondary-color: rgb(42, 42, 53);
    --tertiary-color: rgb(219, 163, 79);
    --forth-color: rgb(179, 103, 62);
    --fifth-color: rgb(62, 62, 77);
    --sixth-color: rgb(94, 94, 113);

    --font-color: rgb(207, 207, 225);

    --transition: all 0.25s ease;

    --box-shadow: 0px 0px 20px -10px rgba(255,255,255,0.79);
}
